@use "units";

/**
 * Conversion des valeurs en rem
 * ****************************************
 */
@function rem($pixels, $context: units.$base-font-size) {
  @return calc($pixels/$context) + rem;
}

// --------------------------------------------------------------------------
// Fluid font from mobile to desktop mockup
// Usage : font-size: fluid-size(14,18);
// --------------------------------------------------------------------------
@function fluid-size($mobile-size, $desktop-size) {
  $x: calc(
          calc(($mobile-size * #{units.$desktop-width}px) - ($desktop-size * #{units.$mobile-width}px)) /
          (#{units.$desktop-width}px - #{units.$mobile-width}px)
  );
  $y: calc(($desktop-size - $mobile-size) / ( #{units.$desktop-width}px - #{units.$mobile-width}px)) *
		100;
}

// --------------------------------------------------------------------------
// Grid start / end
// Usage : grid-column: grid-start-end(4, 8);
// --------------------------------------------------------------------------
@function grid-start-end($start-place, $end-place) {
  $end-place: $end-place + 1;
  @return #{$start-place} / #{$end-place};
}
